<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100..900&display=swap" rel="stylesheet">

<style>
  /* Overwrite CSS variable */
  :root {
    --base-font-family:  "Noto Sans SC", sans-serif;
    font-optical-sizing: auto;
  }
  .subsection-list .article-details {
    background: linear-gradient(0deg, rgb(74 74 74 / 27%) 0%, rgb(204 204 204 / 18%) 100%) !important;
  }
</style>
<script></script>
