/*
    You can add your own custom styles here.
*/
.article-details {
    background: none;
}
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 25px !important;
    height: 1.5px !important;
}
.article-title {
    font-size: 2.2rem !important;
    font-weight: 500 !important;
}
.article-subtitle {
    font-size: 1.6rem !important;
}
:root {
    --card-text-color-main: #333 !important;
    --article-font-size: 1.5rem !important;
}