/*
    You can add your own custom styles here.
*/
.article-details {
    background: none;
}
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 25px !important;
    height: 1.5px !important;
}